/*====== 
Variables 
======
*/
:root {
    --primaryLightColor: hwb(0 50% 50%);
    --primaryColor: #000000;
    --primaryDarkColor: #c02c03;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBackground: #f3f3f3;
    --mainOverlay: rgba(35, 10, 36, 0.4);
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #afafaf;
    --mainRed: #bd0303;
    --mainTransition: all 0.3s linear;
    --lightShadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
    --mainBorderRadius: 0.25rem;
    --smallWidth: 85vw;
    --maxWidth: 40rem;
    --fullWidth: 1170px;
  }
  /* 
  ====== 
  Global Styles 
  ======
  */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family:'Helvetica Neue';
    color: var(--mainBlack);
    background: var(--mainBackground);
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 300;
    z-index: 999;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Helvetica Neue';
    margin-bottom: 1.25rem;

  }
  p {
    margin-bottom: 1.25rem;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: var(--mainBlack);
  }
  img {
    width: 100%;
    display: block;
  }

/* Media Queries */
@media only screen and (max-width: 768px) {
   /* apply styles for screens smaller than 768px */
   body {
     font-size: .8rem;
   }
   h1, h2, h3, h4, h5, h6 {
     font-size: 1.2rem;
   }
}
@media only screen and (max-width: 576px) {
   /* apply styles for screens smaller than 576px */
   body {
     font-size: .6rem;
   }
   h1, h2, h3, h4, h5, h6 {
     font-size: 1rem;
   }
}

  
  /* 
  ====== 
  Buttons 
  ======
  */
  .btn,
  .btn-white,
  .btn-primary {
    text-transform: uppercase;
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    padding: 0.45rem 0.8rem;
    display: inline-block;
    transition: var(--mainTransition);
    cursor: pointer;
    font-size: 0.8rem;
    background: transparent;
    border-radius: var(--mainBorderRadius);
    display: inline-block;
  }
  .btn:hover {
    background: var(--primaryColor);
    color: var(--mainWhite);
  }
  .btn-white {
    background: transparent;
    color: var(--mainWhite);
    border-color: var(--mainWhite);
  }
  .btn-white:hover {
    background: var(--mainWhite);
    color: var(--primaryColor);
  }
  .btn-primary {
    background: var(--primaryColor);
    color: var(--mainWhite);
    border-color: transparent;
  }
  .btn-primary:hover {
    background: var(--primaryLightColor);
    color: var(--primaryColor);
  }
  .btn-block {
    width: 100%;
    display: block;
    margin: 0 auto;
    box-shadow: var(--lightShadow);
    text-align: center;
  }
  .btn-details {
    padding: 0.25rem 0.4rem;
  }
  .btn-details:hover {
    background: var(--primaryLightColor);
    border-color: var(--primaryLightColor);
  }
  @media (max-width: 600px) {
    .btn, .btn-white, .btn-primary {
      display: block;
    }
  }
  @media (max-width: 600px) {
    .btn, .btn-white, .btn-primary {
      font-size: 0.6rem;
    }
  }
  @media (max-width: 600px) {
    .btn, .btn-white, .btn-primary {
      padding: 0.3rem 0.6rem;
    }
  }
  @media (max-width: 600px) {
    .btn, .btn-white, .btn-primary {
      border-radius: 0;
    }
  }

  /* 
  ====== 
  Navbar
  ======
  */
  .navbar {
    background: var(--mainWhite);
    height: 5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--primaryColor);
    box-shadow: var(--lightShadow);
    font-family: 'Helvetica Neue';
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--smallWidth);
    margin: 0 auto;
    max-width: var(--fullWidth);
    flex-wrap:wrap;
}
@media only screen and (max-width: 768px) { /* screen size less than or equal to 768px */
  .nav-links {
    flex-basis:100%;
  }
}

  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links a {
    text-transform: capitalize;
    display: inline-block;
    font-weight: bold;
    margin-right: 0.5rem;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0.25rem 0.5rem;
    transition: var(--mainTransition);
  }
  .nav-links a:hover {
    color: var(--primaryColor);
  }
  .logo {
    width: 12rem;
    color: rgb(105, 2, 2);
  }
  
  @media only screen and (max-width: 768px) { /* screen size less than or equal to 768px */
    .navbar {
      height: auto; /* change the height to auto so that it adjusts to the content */
    }
    .nav-center {
      width: 100%; /* change the width to 100% to fill the full screen */
      flex-wrap: wrap; /* allows the links to wrap to the next line */
    }
    .nav-links a {
      margin-right: 0; /* remove the margin-right */
    }
  }
  
  /* 
  ====== 
  About
  ======
  */
  .about-section {
    width: var(--smallWidth);
    max-width: var(--maxWidth);
    margin: 0 auto;
    font-family: 'Helvetica Neue';
  }
  .about-section p {
    line-height: 2rem;
    font-weight: 400;
  }
  @media only screen and (max-width: 768px) {
    .about-section {
      width: 90%;
    }
  }
  
  @media only screen and (max-width: 576px) {
    .about-section {
      font-size: 0.8rem;
    }
  }
  
  /* 
  ====== 
  Error
  ======
  */
  .error-page {
    display: flex;
    justify-content: center;
  }
  .error-container {
    text-align: center;
    text-transform: capitalize;
  }
  
  section {
      padding: 5rem 0;
    }
    .section-title {
      font-size: 2rem;
      text-transform: capitalize;
      text-align: center;
      margin-bottom: 3.5rem;
      margin-top: 1rem;
    }
    @media only screen and (max-width: 600px) {
      .error-page {
        flex-direction: column;
      }
      .error-container {
        margin-top: 2rem;
      }
      section {
        padding: 2rem 0;
      }
      .section-title {
        font-size: 1.5rem;
      }
    }
    
    /*
    ======
    Loading
    ========
    */
    .loader,
  .loader:before,
  .loader:after {
    background: transparent;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }
  .loader {
    color: var(--primaryColor);
    text-indent: -9999em;
    margin: 88px auto;
    margin-top: 20rem;
    position: relative;
    font-size: 3rem;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    position: absolute;
    top: 0;
    content: '';
  }
  .loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 1.5em;
  }
  @-webkit-keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 4em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
  }
  @keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 4em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
  }
  
  /* 
  ====== 
  Cocktail
  ======
  */
  
  .cocktail-section {
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    color: #212121;
    }
    
    .cocktails-center {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    max-width: 70rem;
    margin: 0 auto;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(38, 38, 38);
    }
    
    .drink {
    width: 17rem;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgb(38, 38, 38);
    border-radius: 10px;
    margin: 1.5rem 1.5rem;
    background: #fff;
    }
    
    .drink-img {
    width: 100%;
    height: 65%;
    }
    
    .drink-img img {
    display: block;
    width: 100%; height: 100%;
    object-fit: cover;
    }
    
    .drink-footer {
    height: 25%;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 15px;
    color: #666;
    }
    
    .drink p, .drink h3, .drink h4{
    margin: 0; padding: 0;
    font-weight: lighter;
    font-size: 1rem;
    }
    @media (max-width: 768px) {
      .cocktails-center {
        flex-wrap: wrap;
        flex-direction: column;
      }
      .drink {
        width: 80%;
        margin: 1.5rem auto;
      }
    }
    
  
  /*
  ====== 
  SearchForm
  ======
  */
  .search {
    margin-top: 1rem;
    padding-bottom: 0;
}

.search-form {
    width: var(--smallWidth);
    margin: 0 auto;
    max-width: var(--maxWidth);
    background: var(--mainWhite);
    padding: 2rem 2.5rem;
    text-transform: capitalize;
    border-radius: var(--mainBorderRadius);
    box-shadow: var(--lightShadow);
}

.form-control label {
    display: block;
    margin-bottom: 1.25rem;
    font-weight: 200;
    color: var(--primaryColor);
}

.form-control input {
    width: 100%;
    border: none;
    border-color: transparent;
    background: var(--mainBackground);
    border-radius: var(--mainBorderRadius);
    padding: 0.5rem;
    font-size: 1.2rem;
}

@media (min-width: 600px) {
    .search-form {
        width: 50%;
    }
}


  
  /*
  ================
  SingleCocktail
  */
  .singlecocktail {
    width: 25rem;
    height: 45rem;
    margin:0 auto;}
  
  .singledrink {
    margin: 0 auto;
    height: 30rem;
  }
  @media only screen and (max-width: 768px) {
    .singlecocktail {
    width: 90%;  
    height: auto;
    }
    .singledrink {
    margin: 0 auto;
    height: auto;
    }
    }
  
    /* Estilo para el contenedor principal */
  .jumbotron {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
      margin-bottom: 1px;
      position: relative;
      z-index: 1;
      width: 100%;
      }
      @media (max-width: 768px) {
        .jumbotron {
        flex-direction: column;
        }
        }
      
      /* Estilo para el contenedor interno */
  .container-button-random-cocktail {
      width: 20%;
      max-width: 1200px;
      padding: 15px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
      margin-top: 0px;
      margin-bottom: auto;
      position: relative;
      z-index: 2;
      }
      
      /* Estilo para el botón */
  .btn-secondary {
      font-size: 20px;
      font-family:'Helvetica Neue' ;
      font-weight: 300;
      border-radius: 4px;
      background-color: #007AFF;
      color: white;
      cursor: pointer;
      }
      
      /* Estilo para el botón al hacer hover */
  .btn-secondary:hover {
      background-color: #006DF0;
      }

      @media only screen and (max-width: 768px) {
        .container-button-random-cocktail {
          width: 80%;
          margin: 0 auto;
        }
        
        .btn-secondary {
          font-size: 16px;
        }
      }
      
      /* Estilo para el card */
  .card {
        width: 25rem;
        height: 15rem;
        top:60%;
        bottom: 40%;
        left:48%;
        transform:translate(-50%,-50%);
        display: fixed;
        justify-content: center;
        box-shadow: rgb(38, 38, 38);
        border-radius: 10px;
        margin: 1.5rem 1.5rem;
        background: #fff;
        position: absolute;
        z-index: 500;
        }


  /* Estilo para el contenedor del card */
/* Estilo para el contenedor del card */
  .card .card-dialog {
    max-width: 400px;
    width: 50%;
    max-height: 400px;
    height: 50px;
    }


    /* Estilo para el contenido del card */
    .card .card-content {
      background-color: white;
      border-radius: 8px;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
      }
      
      /* Estilo para el encabezado del card */
      .card .card-header {
      background-color: #F5F5F5;
      border-bottom: 1px solid #E0E0E0;
      border-top: 1px solid #E0E0E0 ;
      padding: 16px;
      }
      
      /* Estilo para el título del card */
      .card .card-header h5 {
      font-size: 18px;
      font-weight: bold;
      margin: 0;
      }
      
      /* Estilo para el botón de cierre del card */
      .card .card-header .close {
      font-size: 18px;
      color: #BDBDBD;
      cursor: pointer;
      }
      
      /* Estilo para el cuerpo del card */
      .card .card-body {
      padding: 16px;
      }
      
      /* Estilo para la imagen del card */
      .card .card-body img {
      max-width: 100%;
      border-radius: 8px;
      }
      
      /* Estilo para las instrucciones del card */
      .card .card-body p:first-of-type {
      margin-top: 16px;
      font-size: 16px;
      }
      
      /* Estilo para la lista de ingredientes del card */
      .card .card-body ul {
      margin-top: 16px;
      font-size: 16px;
      list-style: none;
      }
      
      /* Estilo para el pie del card */
      .card .card-footer {
      background-color: #F5F5F5;
      border-top: 1px solid #E0E0E0;
      padding: 16px;
      text-align: right;
      }
      
      /* Estilo para el botón de cierre del pie del card */
      .card .card-footer button {
      font-size: 16px;
      padding: 8px 16px;
      border-radius: 4px;
      background-color: #007AFF;
      color: white;
      cursor: pointer;
      }
      
      /* Estilo para el botón de cierre del pie del card al hacer hover */
      .card .card-footer button:hover {
      background-color: #006DF0;
      }
      @media (max-width: 600px) {
        .card {
          width: 90%;
          height: auto; /* make the height automatically adjust */
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      @media (max-width: 600px) {
        .card .card-dialog {
            width: 90%;
            max-width: 90%;
            height: auto;
            max-height: none;
        }
    }
    @media (max-width: 600px) {
      .card .card-content {
          border-radius: 0px;
          box-shadow: none;
      }
  }    
  @media only screen and (max-width: 768px) {
    .card {
    width: 90%;  
    height: auto;
    }
    .card-dialog {
    margin: 0 auto;
    height: auto;
    }
    }
  
      .overlay {
        background-color: rgba(0, 0, 0,0.5); /* or any other color of your choice */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
      }
      